.first{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight:bold;
    text-align: left;
    color:black;
    background-color: grey;
    opacity: 0.5;
    

    
   
}