.footer{
    background-color: rgb(76, 73, 73);
    color: white;  
    font-family:Arial, Helvetica, sans-serif ; 
    display: flex;
    width: 100%;
    max-width: 100%;
    /* min-width: none; */
    /* gap: 10px; */
    font-size: larger;
}
.row1{
    /* margin-right: auto; */
    margin-left: 56px;
    padding-right:124px;
    max-width: 25%;;
    min-width: none;
}
.upperpart{
    display: flex;
    gap: 4.9em;
    list-style: none;
}
.lowerpart{
    display: flex;
    gap: 17em;
    list-style: none;
}
hr{
    width: 100%;
}
button{
    background-color: rgb(151, 242, 151);
}