/* .button{
    background-color: hsl(200,100%,50%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
} */
 .student{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid hsla(0,0%,50%,0.8);
 }
 .student p{
    margin: 0;
 }
 .welcome-message{
    font-size: 2.5em;
    background-color: hsl(120, 100%, 42%);
    color:white ;
    padding:10px;
    border-radius: 5px;
    margin: 5px;
 }
 .logIn-message{
    font-size: 2.5em;
    background-color: hsl(55, 100%, 42%);
    color:white ;
    padding:10px;
    border-radius: 5px;
    margin: 5px;
 }