/* .button{
    background-color: hsl(200,100%,50%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
} */
 .student{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid hsla(0,0%,50%,0.8);
 }
 .student p{
    margin: 0;
 }
 .welcome-message{
    font-size: 2.5em;
    background-color: hsl(120, 100%, 42%);
    color:white ;
    padding:10px;
    border-radius: 5px;
    margin: 5px;
 }
 .logIn-message{
    font-size: 2.5em;
    background-color: hsl(55, 100%, 42%);
    color:white ;
    padding:10px;
    border-radius: 5px;
    margin: 5px;
 }
 .card{
    border: 2px solid rgb(171, 171, 171);
    width: 35%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-width: 250px;
    border-radius: 25px;
    display: inline-block;


 }
 .card h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 }
 .card p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 }
 .img1{
    max-width:80%;
    margin-bottom: 10px;
    border-radius: 15%;
    height: auto;
 }
 .list-category{
   font-size: 2.5m;
   font-weight: bold;
   color: hsl(0,0%,29%);
   margin-bottom: 10px;
   text-align: center;
   border: 3px solid ;
   border-radius: 5px;
 }

 .listnames li:hover{
   background-color: rgb(214, 219, 209);
   width: 10%;
   cursor: pointer;
 }
 .pro{
   width: 15%;
   height: auto;
 }
 body{
  
 }
 .ToDo-list{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   margin-top: 100px;
   background-color: hsl(0,0%,10%);
   width: 90%;
   height: 28rem;
   margin-left: 4rem;
 }
 h1{
   font-size: 4rem;
   color: white;
 }
 /* button{
   font-size: 1.7rem;
   font-weight: bold;
   padding: 10px 20px;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color o.5s ease;
 } */
 .add-button{
   background-color: hsl(125, 47%, 54%);
 }
 .add-button:hover{
   background-color:hsl(125, 47%, 44%) ;
 }
 .delete-button{
   background-color: hsl(10, 90%, 50%);
 }
 .delete-button:hover{
   background-color:hsl(10, 90%, 40%) ;
 }
 .move-button{
   background-color: hsl(193, 90%, 50%);
 }
 .move-button:hover{
   background-color:hsl(193, 90%, 40%) ;
 }
 input[type="text"]{
   font-size: 1.6rem;
   padding: 10px;
   border: 2px solid hsl(0,0%,80%,0.5);
   border-radius: 5px;
   color: hsl(0,0%,0%,0.5);
  }
  ol{
   padding: 0;
  }
  li{
   font-size: 2rem;
   font-weight: bold;
   padding: 15px;
   background-color: hsl(0,0%,97%);
   margin-bottom: 10px;
   border: 3px solid hsla(0,0%,85%,0.75);
   border-radius: 5px;
   display: flex;
   align-items: center;
  }
  .text{
   /* width: 40%; */
      flex: 1;
  }
  .delete-button, .move-button{
   padding: 8px 12px;
   font-size: 1.4rem;
   margin-left: 10px;
  }
/* .clock-container{
   background-image: url(assets/profile.jpg);
   background-position: cover;
   width: 50%;
   height: 1234px;
} */
 .clock span{
   font-size: 35px;
   text-align: center;
   margin-left: 45%;
 }
 .box{
   border: 2px solid black;
   padding:25px;
 }
.body{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: hsl(0, 0%, 95%);
}
.stopwatch{
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 5px solid;
   border-radius: 50px;
   background-color: white;
   padding: 30px;
}
.display{
   font-size: 5rem;
   font-family: monospace;
   font-weight: bold;
   color: hsl(0, 0%, 30%);
   text-shadow: 2px 2px 2px hsla(0,0%,0%,0.75);
   margin-bottom: 25px;
}
.contorls button{
   font-size: 1.5rem;
   font-weight: bold;
   padding: 10px 20px;
   margin: 5px;
   min-width: 125px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   color: white;
   transition: background-color 0.5s ease;
}
.start-Button{
   background-color: hsl(115, 100%, 40%);
}
.start-Button:hover{
   background-color: hsl(115, 100%, 35%);
}
.stop-Button{
   background-color: hsl(10, 90%, 50%);
}
.stop-Button:hover{
   background-color: hsl(10, 90%, 45%);
}
.rest-Button{
   background-color: hsl(205, 90%, 60%);
}
.rest-Button:hover{
   background-color: hsl(205, 90%, 55%);
}

