*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(basket\ ball\ falling.webp);
    font-family: poppins;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.nav ul{
    list-style: none;
    /* display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex; */
    display: flex;
}
.nav ul li a{
    text-decoration: none;
    color: fff;
    padding: 1.5rem;
    font-weight: bold;
    transition: all .5s ease;
}
.header{
    background: deepskyblue;
    overflow: hidden;
}
.nav{
    /* display: flex; */
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
    width: 110px;
    margin: auto;
}
.nav img{
    width: 120px;
    height: auto;
}
.nav ul li a:hover{
    color:#000;
    background: #fff;

}